.catkin_tools/
build/
devel/
src/tutorial_qt_motors/
src/musi_care/src/game_assets/music/temp/
/.idea/
*.pyc
src/musi_care/src/__pycache__
*.pyc
src/musi_care/src/__pycache__/simon_says_clap.cpython-38.pyc
src/musi_care/src/__pycache__/musicare_lib.cpython-38.pyc
src/musi_care/src/__pycache__/guess_mood.cpython-38.pyc
src/musi_care/src/__pycache__/fix_song.cpython-38.pyc
src/musi_care/src/__pycache__/clap_beat.cpython-38.pyc
